*{
    box-sizing: border-box;
    margin: 0;
    color: black;
}
.menu{
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    transition: 1s;
}
.logo-page{
    left: 0;
    top: 0;
    background-color: orange;
    width: 100%;
    height: 150%;
    border-radius: 0px 0px 24px 24px;
    border: 3px solid #000;
    cursor: pointer;
    transition: 1s;
}
.logo_img{
    height: 100%;
    width: 100%;
    border-radius: 0px 0px 24px 24px;
}
.logo_name{
    margin-left: 2%;
    font-family: 'Roboto';
    font-size: 32px;
    display: inline-block;
}
.logo_name_2{
    margin-left: 2%;
    font-family: 'Roboto';
    font-size: 32px;
    color: yellow;
    display: inline-block;
}
.logo{
    width: 200px;
    display: flex;
}

.menu_{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.g{
    background: url('../../images/sot.png') center no-repeat;
    opacity: 0.1;
}
.context_menu{
    width: 40%;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}
.nomer{
    width: 20%;
    display: block;
    align-items: center;
}
.menu_items{
    margin: auto;
    font-family: 'Roboto';
    font-size: 24px;
    position: relative;
    transition: .5s;
    cursor: pointer;
}
.no_b_border:after{
    display: none;
}
.menu_items:hover:after{
    width: 100%;
}
.menu_items:after{
    content: '';
    position: absolute;
    background-color: #fff;
    bottom: 0;
    width: 0%;
    height: 2px;
    transition: .5s;
}
.context_menu_info{
    width: 45%;
}
.zone_search{
    width: 10%;
    height: 100%;
    right: 5px;
    top: 0;
    cursor: pointer;
}
.user_in{
    margin: auto;
    font-family: 'Roboto';
    font-size: 24px;
    position: relative;
    transition: .5s;
    cursor: pointer;
}
.user_context{
    width: 30%;
}
.context_menu_{
    bottom: -110%;
    left: 0px;
    width: 200px;
    display: none;
    padding: 3% 5%;
    background-color: #fff;
    border-radius: 10px;
    z-index: 5;
}
.user_context:hover .context_menu_{
    display: block;
}
.material-symbols-outlined{
    transition: .5s ease;

}
.menu_items:hover .material-symbols-outlined{
    transition: .5s ease;
    transform: rotate(180deg);
}
.user_context:hover .material-symbols-outlined{
    transition: .5s ease;
    transform: rotate(180deg);
}
.user_img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 3px solid #fff;
}
.from_name{
    margin-left: 3%;
}
.user_name{
    display: inline;
    
}
.context_menu ul{
    padding: 0;
}
.context_menu_ ul li{
    margin: auto;
    list-style: none;
    padding: 2%;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 2%;
}
.context_menu_ ul li:hover{
    background: #43A047;
}
#mob_hed{
    display: none;
}
#mob_mob_block{
    display: none;
}
@media (max-width: 1025px) {
    .menu_{
        padding: 0% 2%;
    }
    #deks_hed{
        display: none;
    }
    #mob_hed{
        display: block;
    }
}
.mob_men{
    width: 80px;
    height: 44px;
    transition: .5s;
}
.mob_men.menu_active:after{
    top: 21px;
    transition: .5s;
    transform: rotate(-45deg);
}
.mob_men.menu_active:before{
    top: 21px;
    transition: .5s;
    transform: rotate(45deg);
}
.mob_men.menu_active span{
    display: none;
    transition: .5s;
}
.mob_men:after{
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #43A047;
    width: 100%;
    position: absolute;
    transition: .5s;
}
.mob_men:before{
    content: '';
    left: 0;
    top: 0;
    height: 4px;
    background-color: #43A047;
    width: 100%;
    position: absolute;
    transition: .5s;
}
.mob_men span{
    margin-top: 21px;
    display: block;
    height: 4px;
    background-color: #43A047;
    width: 100%;
    position: absolute;
    transition: .5s;
}
@media (max-width: 900px) {
    .container{
        width: 200px;
    }
}
@media (max-width: 700px) {
    .logo{
        width: 100px;
    }
    .logo-page{
        width: auto;
        height: 110%;
        aspect-ratio: 1/1;
    }
    .user_name{
        display: none;
    }
    .container{
        margin-left: 10%;
    }
}
.name_org{
    padding-top: 2%;
}
@media (max-width: 600px) {
    
    .no_b_border{
        margin-left: 5%;
    }
    .container{
        margin: 0;
    }
    #mob_mob_block{
        display: flex;
    }
    .logo{
        display: none;
    }
    .user_name{
        display: block;
    }
    .user_img{
        display: none;
    }
    .menu_items{
        margin-top: 2%;
    }
    .context_menu_info{
        width: 80%;
    }
    .no_b_border{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .menu_{
        height: auto;
    }
    
}
.menu_pop_mob{
    height: 100vh;
    width: 40%;
    background: linear-gradient(45deg, yellow, orange);
    
    z-index: 50;
    position: fixed;
    left: -40%;
    transition: .5s;
}
.sote{
    background: url('../images/sot.png') center no-repeat;
    padding: 10% 3%;
    text-align: center;
}
.menu_pop_mob_active{
    left: 0%;
    transition: .5s;
}
.menu_pop_mob_zatem{
    height: 100vh;
    width: 60%;
    z-index: 50;
    left: 40%;
    position: fixed;
    background: transparent;
    transition: .8s;
    pointer-events: none;
}
.menu_pop_mob_zatem_active{
    background: rgba(0,0,0,.5);
    transition: .8s;
    pointer-events: auto;
}
.logo-sote{
    width: 50%;
    display: block;
}
.sote ul li{
    margin: auto;
    list-style: none;
    padding: 2%;
    width: 100%;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 2%;
}
.sote ul{
    margin-top: 10%;
    padding: 0;
    width: 100%;
}
.sote ul li:hover{
    background: #43A047;
}
.menu_mob_p_org_name{
    line-height: 20px;
}
@media (max-width: 600px){
    .menu_pop_mob{
        width: 50%
        left: -50%;
    }
    .menu_pop_mob_zatem{
        width: 50%
        left: 50%;
    }
}