
button {
    background: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: .9rem;
}
.slider-produtos-wrap {
    position: relative;
    width: 100%;
    margin-top: 20px;
    }
button:hover {
    background: orangered;
}

button:active {
    background: #000;
    color: #fff;
}
