<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'online_store/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'online_store/css/interactive/interact.css' %}">
    <link rel="stylesheet" href="{% static 'online_store/css/interactive/footer.css' %}">
    <link rel="stylesheet" href="{% static 'online_store/css/interactive/search.css' %}">
    <link rel="stylesheet" href="{% static 'online_store/css/interactive/headers.css' %}">
    <link rel="stylesheet" href="{% static 'online_store/css/interactive/loaders.css' %}">
   <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% block styles %}

    {% endblock %}
</head>
<body>
{% block menu %}
<div id="app">
<div class="menu" style="background: linear-gradient(45deg, yellow, orange);">
        <div class="absolute w-sto h_sto g">

        </div>
        <div class="interactiv h_sto">
            <div class="w-sto name_org flex" id="mob_mob_block">
                <p class="auto">Уварово пасечник</p>
            </div>

            <div class="menu_ h_sto">
                <div class="logo relative">
                    <div class="logo-page flex absolute">
                        <img src="{% static 'online_store/images/logo.png' %}" class="logo_img auto" alt="">
                    </div>


                </div>
                <div class="context_menu context_menu_info">
                    <div class="menu_items mob_men relative" id="mob_hed">
                        <span></span>
                    </div>
                    <div class="menu_items" id="deks_hed">
                        <p class="menu_items_text">Главная</p>
                    </div>
                    <div class="menu_items flex relative" id="deks_hed">
                        <p class="menu_items_text">Товары</p>
                        <span class="material-symbols-outlined">
                            expand_more
                        </span>

                    </div>
                    <div class="menu_items no_b_border">
                        <div class="container relative">
                            <input class="input" type="text" placeholder="Search">
                            <div class="zone_search absolute">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="context_menu user_context">
                    <div class="flex jus-sp user_in relative">
                        {% if user.is_authenticated %}
                        <img class="user_img" src="{{user.image.url}}" alt="">
                        <div class="flex w-sto h-sto from_name">
                            <p class="menu_items_text user_name auto">{{user.login}}</p>
                        </div>
                        <div class="context_menu_ absolute">
                            <ul>
                                <li class="flex">
                                    <p class="normal-small auto">Аккаунт</p>
                                </li>
                                <li class="flex">
                                    <p class="normal-small auto">Корзина</p>
                                </li>
                                <li class="flex">
                                    <p class="normal-small auto">Избранное</p>
                                </li>
                            </ul>
                        </div>
                        <span class="material-symbols-outlined auto">
                            expand_more
                        </span>
                        {% else %}
                        <a href="/registry">Регистрация</a>
                        <a href="/login">Вход</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="absolute menu_pop_mob">
    <div class="h_sto w-sto sote">
        <div class="logo-sote auto">
                    <div class="logo-page flex auto">
                        <img src="{% static 'online_store/images/logo.png' %}" class="logo_img auto" alt="">
                    </div>


                </div>
                <p class="VAG menu_mob_p_org_name small">Уварово пасечник</p>
                <ul>
                        <li>Главная</li>
                        <li>О нас</li>
                        <li>Заказы</li>
                        <li>Политика соглашения</li>
                        <li>Пополнить счет</li>
                    </ul>
    </div>
</div>
<div class="absolute menu_pop_mob_zatem">

</div>
{% endblock %}

{% block content %}

{% endblock %}

</div>
{% block footer %}
<footer class="flex" id="deks">
        <div class="interactiv flex jus-sp auto">
            <div class="foo">
                <p class="foo_p">Компания</p>
                <p class="foo_p_li foo_p_li_perv">О нас</p>
                <p class="foo_p_li">Контакты</p>
            </div>
            <div class="foo">
                <p class="foo_p">ПОЛЕЗНОЕ</p>
                <p class="foo_p_li foo_p_li_perv">Оплата и доставка</p>
                <p class="foo_p_li">Условия возврата</p>
                <p class="foo_p_li">Бонусная система</p>
            </div>
            <div class="foo">
                <p class="foo_p">ПОКУПАТЕЛЮ</p>
                <p class="foo_p_li foo_p_li_perv">Избранное</p>
                <p class="foo_p_li">Публичная оферта</p>
                <p class="foo_p_li">Политика конфиденциальности</p>
            </div>
            <div class="foo">
                <p class="foo_p">КОНТАКТЫ</p>
                <div class="foo_img">
                    <span class="material-symbols-outlined">
                        expand_more
                    </span>

                    <span class="material-symbols-outlined">
                        expand_more
                    </span>
                </div>
                <p class="foo_p_li">О нас</p>
                <p class="foo_p_li">Контакты</p>
            </div>
        </div>
    </footer>
    <footer id="mobs">
        <div class="interactiv auto">
            <div class="">

                <div class="foo_mobile flex jus-sp" id="mobs">
                    <p class="foo_p">Компания</p>
                    <div class="foo_mobile_butt" onclick="active_footer_mob($(this))">
                        <span class="material-symbols-outlined">expand_more</span>
                    </div>
                </div>
                <div class="auto foo_mobile_contect" id="mob">
                    <p class="foo_mobile_p">О нас</p>
                    <p class="foo_mobile_p">Контакты</p>
                </div>
            </div>
            <div class="">

                <div class="foo_mobile flex jus-sp" id="mobs">
                    <p class="foo_p">Компания</p>
                    <div class="foo_mobile_butt" onclick="active_footer_mob($(this))">

                        <span class="material-symbols-outlined">expand_more</span>
                    </div>
                </div>
                <div class="auto foo_mobile_contect" id="mob">
                    <p class="foo_mobile_p">О нас</p>
                    <p class="foo_mobile_p">Контакты</p>
                </div>
            </div>
            <div class="">

                <div class="foo_mobile flex jus-sp" id="mobs">
                    <p class="foo_p">Компания</p>
                    <div class="foo_mobile_butt" onclick="active_footer_mob($(this))">

                        <span class="material-symbols-outlined">expand_more</span>
                    </div>
                </div>
                <div class="auto foo_mobile_contect" id="mob">
                    <p class="foo_mobile_p">О нас</p>
                    <p class="foo_mobile_p">Контакты</p>
                </div>
            </div>
            <div class="">

                <div class="foo_mobile flex jus-sp" id="mobs">
                    <p class="foo_p">Компания</p>
                    <div class="foo_mobile_butt" onclick="active_footer_mob($(this))">

                        <span class="material-symbols-outlined">expand_more</span>
                    </div>
                </div>
                <div class="auto foo_mobile_contect" id="mob">
                    <p class="foo_mobile_p">О нас</p>
                    <p class="foo_mobile_p">Контакты</p>
                </div>
            </div>

        </div>
    </footer>
{% endblock %}
<script>
    function sleep(ms) {
ms += new Date().getTime();
while (new Date() < ms){}
} 
function getCookie(c_name) {
    if (document.cookie.length > 0) {
        c_start = document.cookie.indexOf(c_name + "=");
        if (c_start != -1) {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) {
                c_end = document.cookie.length;
            }
            return unescape(document.cookie.substring(c_start, c_end));
        }
    }
    return "";
}
</script>
{% block script %}

{% endblock %}
</body>
</html>