.card-img {
  max-width: 100%;
  filter: drop-shadow(1px 1px 3px green);
}

/* ----- Product Section ----- */
.product {
  display: flex;
  margin: auto;
  padding: 2.5em 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
}

/* ----- Photo Section ----- */
.product__photo {
  position: relative;
  width: 50%;
}

.photo-container {
  position: absolute;
  left: -2.5em;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-main {
  height: 80%;
  border-radius: 6px 6px 0 0;
  background-color: #9be010;
  background: radial-gradient(#e5f89e, #96e001);
}

.photo-album {
  height: 85px;
  padding: 0.7em 1em;
  border-radius: 0 0 6px 6px;
  background-color: #fff;
}

/* ----- Informations Section ----- */
.product__info {
  width: 50%;
  padding: 0.8em 0;
}
.product__price {
  font-family: "Roboto";
  color: rgb(245, 115, 40);
}
.product__code {
  font-family: "Roboto";
  line-height: 1.2;
}

.description {
  clear: left;
  margin: 2em 0;
}
.product__name {
  font-family: "VAG";
  font-weight: 400;
  line-height: 1.2;
}
.btn {
  display: inline-block;
  padding: 1.5em 3.1em;
  border: none;
  border-radius: 50px;
  font-size: 0.8em;
  font-weight: 700;
  color: #000;
  background-color: rgb(245, 173, 40);
  box-shadow: 2px 2px 25px -7px black;
  cursor: pointer;
}
.btn:active {
  background-color: rgb(245, 173, 40);
  scale: 0.96;
  color: #000;
}
.btn:hover {
  background-color: rgb(255, 188, 65);
}
.variant-ul {
  display: flex;
  list-style: none;
  padding: 0;
  width: 100%;
}
.photo-album-li:not(:first-child) {
  margin-left: 1%;
}
.photo-album-li.active {
    box-shadow: 0px 0px 2px 1px black;

}
.photo-album-li {
  text-align: center;
  float: left;
  padding: 3px;
  width: 90px;
  border-radius: 3px;
  cursor: pointer;
}
.photo-album-li:hover {
  box-shadow: 0px 0px 2px 1px black;
}
.product__text {
  margin-top: 8px;
}
.add-img-tovar {
  cursor: pointer;
  margin-left: 2%;
  aspect-ratio: 1/1;
}
.add-img-tovar:hover {
  box-shadow: 0px 0px 2px 1px black;
}

@media (max-width: 1100px) {
  .photo-main {
    height: 400px;
  }
  .product {
    display: block;
    padding-top: 2%;
  }
  .product__photo {
    height: 400px;
    width: 100%;
  }
  .slider-product .swiper-wrapper .swiper-slide {
    height: 1000px;
  }
  .photo-container {
    left: -5%;
    width: 110%;
  }
  .product__info {
    text-align: center;
    width: 100%;
  }
  .photo-album {
    display: none;
  }
}
@media (max-width: 700px) {
  .photo-container {
    display: block;
    position: static;
    width: 100%;
  }
  .product__photo {
    height: auto;
  }
  .photo-main {
    height: 220px;
  }
  .slider-product .swiper-wrapper .swiper-slide {
    height: 700px;
  }
}
