
{% extends  'basic/basic.html' %}
{% load static %}
{% block styles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.0/css/swiper.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'online_store/css/main/main.css' %}">
    <link rel="stylesheet" href="{% static 'online_store/css/interactive/slider.css' %}">
    <link rel="stylesheet" href="{% static 'online_store/css/main/hex-tovar.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="absolute main-nak">

        </div>
        <div class="main relative">

            
            <div class="interactiv flex">


                <div class="main_center auto">
                    <div class="main_text_div auto">
                        <p class="main_text ">Наш мед имеет ряд преимуществ!</p>
                        <div class="bt">
                            <button class="main_bt">
                                <div class="flex sto">
                                    <p class=" main_bt_p">Попробовать!</p>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="main_img_div">
                        <img src="images/phel.png" class="phel" alt="">
                        <div class="slider-produtos-wrap">
                            <div class="slider-main swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide flex">
                                        <img src="{% static 'online_store/images/honey.png' %}" class="main_img" width="100%" height="100%" alt="">

                                    </div>
                                    <div class="swiper-slide flex">
                                        <img src="{% static 'online_store/images/honey.png' %}" class="main_img" width="100%" height="100%" alt="">

                                    </div>
                                    <div class="swiper-slide flex">
                                        <img src="{% static 'online_store/images/honey.png' %}" class="main_img" width="100%" height="100%" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- <img src="images/honey.png" class="main_img" width="100%" height="100%" alt=""> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="sot">

        <div class="interactiv auto">
            <div class="block_info">
                <div class="dostav_info">
                    <p class="big p-block">Доставка</p>
                    <p class="small-big">Наша доставка распространяется на города: Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Enim, architecto veritatis? Aut iure labore qui ut molestiae
                        minima repudiandae obcaecati beatae illo. Aliquam debitis minus consequuntur illum et natus.
                        Incidunt.</p>
                </div>
                <div class="kart">
                    <script type="text/javascript" charset="utf-8" async
                        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Acb54edd63e0d97f14a269aa9794fd46e0f207bd9929fbc582dc52579023e60d0&amp;width=100%25&amp;&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>
            </div>
            <div class="flex w-sto text_in_sot">

                <p class="big auto main-text">Популярные товары</p>
            </div>
            <div class="block_info sliders big-block">

                <div class="slider-produtos-wrap">
                    <div class="slider-product swiper-container">
                        <div class="swiper-wrapper">
                            {% for pop_product in popular_product %}
                            <div class="swiper-slide flex">
                                <div class="hex slide auto">
                                    <section class="product">
                                        <div class="product__photo">
                                            <div class="photo-container">
                                                <div class="photo-main">
                                                    <div class="controls">
                                                    </div>
                                                    <img width="100%" height="100%"
                                                        src="{{ pop_product.image.url }}"
                                                        alt="green apple slice">
                                                </div>
                                                <div class="photo-album flex jus-sp">
                                                    <img class="add-img-tovar"
                                                        src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/d7516b44740087.581c4d069eaf8.jpg">
                                                    <img class="add-img-tovar"
                                                        src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/d7516b44740087.581c4d069eaf8.jpg">
                                                    <img class="add-img-tovar"
                                                        src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/d7516b44740087.581c4d069eaf8.jpg">

                                                    <img class="add-img-tovar"
                                                        src="https://res.cloudinary.com/john-mantas/image/upload/v1537303708/codepen/delicious-apples/apple-top.png">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product__info">
                                            <div class="title">
                                                <p class="small-big product__name">{{ pop_product.name }}</p>
                                                <span class="very-small product__code">COD: {{ pop_product.id }}</span>
                                            </div>
                                            <div class="price">
                                                <span class="product__price big">{{ pop_product.price.amount }}<span
                                                        class="product__price small"> {{ pop_product.price.currency }}</span></span>
                                            </div>
                                            <div class="variant">
                                                <h3>Размер</h3>
                                                <div class="flex">
                                                    <ul class="variant-ul">

                                                        <li class="photo-album-li">
                                                            <div class="h_sto">
                                                                <img width="100%" height="80%"
                                                                    src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/d7516b44740087.581c4d069eaf8.jpg" />
                                                                <p>100 гр</p>
                                                            </div>

                                                        </li>
                                                        <li class="photo-album-li">
                                                            <div class="h_sto">
                                                                <img width="100%" height="80%"
                                                                    src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/bd0f2628180365.56370e61afb8e.jpg" />
                                                                <p class="normal-small">250 гр</p>
                                                            </div>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product__text">
                                                <p class="small">{{pop_product.description}}</p>
                                            </div>
                                            <button class="btn">Добавить в корзину</button>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                </div>
            </div>

        </div>
        <div class="flex w-sto text_in_sot">

            <p class="big auto main-text">О нашем товаре</p>
        </div>
        <div class="ref-block w-sto flex">

            <div class="interactiv auto h-sto flex">

                <div class="block_info o_product auto">
                    <div class="predp">
                        <div class="predp-img auto">
                            <img width="100%" height="100%" src="{% static 'online_store/images/3.jpg' %}" alt="">
                        </div>
                        <p class="small-big predp-name">Иваненко И.П.</p>
                        <p class="small">Директор компании ...</p>
                    </div>
                    <div class="predp-text flex">
                        <p class="small-big">Наша доставка распространяется на города: Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Enim, architecto veritatis? Aut iure labore qui ut molestiae
                            minima repudiandae obcaecati beatae illo. Aliquam debitis minus consequuntur illum et natus.
                            Incidunt.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">

        function active_footer_mob(th) {
            el = th.parent().parent().find('#mob')
            if (el.is(':visible')) {
                el.fadeOut(500)
            } else {
                el.fadeIn(500)
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="{% static 'online_store/js/main.js' %}"></script>
    <script src="{% static 'online_store/js/scroll.js' %}"></script>
    <script src="{% static 'online_store/js/menu.js' %}"></script>

{% endblock %}