<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/headers.css">
    <link rel="stylesheet" href="css/interact.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
    <div class="menu" style="background-color: rgb(241, 164, 47);">
        <div class="interactiv h_sto">
            <div class="menu_ h_sto">
                <div class="logo relative">
                    <div class="logo-page flex absolute">
                        <img src="images/logo.png" class="logo_img auto" alt="">
                    </div>


                </div>
                <div class="context_menu">
                    <div class="menu_items">
                        <p class="menu_items_text">Главная</p>
                    </div>
                    <div class="menu_items flex relative">
                        <p class="menu_items_text">Товары</p>
                        <span class="material-symbols-outlined">
                            expand_more
                        </span>
                        <div class="context_menu_ absolute">

                        </div>
                    </div>
                    <div class="menu_items flex">
                        <p class="menu_items_text ">Аккаунт</p>
                        <span class="material-symbols-outlined">
                            expand_more
                        </span>
                    </div>
                </div>
                <div class="context_menu nomer">
                    <div class="menu_items">
                        <p class="menu_items_text">89156774268</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="sot-ob">
        <div class="wrapper flex">
            <div class="login-page flex">
                <div class="form login-f log-img">

                </div>
                <div class="form">
                    <p class="small login-p">Создать аккаунт</p>
                    <div class="flex h_sto">

                    <form class="register-form auto">

                        <input type="text" placeholder="name" />
                        <input type="password" placeholder="password" />
                        <input type="text" placeholder="email address" />
                        <button>create</button>
                        <p class="message">Already registered? <a href="#">Sign In</a></p>
                    </form>
                    
                </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="flex footer" id="deks">
        <div class="interactiv flex jus-sp auto">
            <div class="foo">
                <p class="foo_p">Компания</p>
                <p class="foo_p_li foo_p_li_perv">О нас</p>
                <p class="foo_p_li">Контакты</p>
            </div>
            <div class="foo">
                <p class="foo_p">ПОЛЕЗНОЕ</p>
                <p class="foo_p_li foo_p_li_perv">Оплата и доставка</p>
                <p class="foo_p_li">Условия возврата</p>
                <p class="foo_p_li">Бонусная система</p>
            </div>
            <div class="foo">
                <p class="foo_p">ПОКУПАТЕЛЮ</p>
                <p class="foo_p_li foo_p_li_perv">Избранное</p>
                <p class="foo_p_li">Публичная оферта</p>
                <p class="foo_p_li">Политика конфиденциальности</p>
            </div>
            <div class="foo">
                <p class="foo_p">КОНТАКТЫ</p>
                <div class="foo_img">
                    <span class="material-symbols-outlined">
                        expand_more
                    </span>

                    <span class="material-symbols-outlined">
                        expand_more
                    </span>
                </div>
                <p class="foo_p_li">О нас</p>
                <p class="foo_p_li">Контакты</p>
            </div>
        </div>
    </footer>
    <footer id="mobs" class="footer">
        <div class="interactiv auto">
            <div class="">

                <div class="foo_mobile flex jus-sp" id="mobs">
                    <p class="foo_p">Компания</p>
                    <div class="foo_mobile_butt" onclick="active_footer_mob($(this))">
                        <span class="material-symbols-outlined">expand_more</span>
                    </div>
                </div>
                <div class="auto foo_mobile_contect" id="mob">
                    <p class="foo_mobile_p">О нас</p>
                    <p class="foo_mobile_p">Контакты</p>
                </div>
            </div>
            <div class="">

                <div class="foo_mobile flex jus-sp" id="mobs">
                    <p class="foo_p">Компания</p>
                    <div class="foo_mobile_butt" onclick="active_footer_mob($(this))">

                        <span class="material-symbols-outlined">expand_more</span>
                    </div>
                </div>
                <div class="auto foo_mobile_contect" id="mob">
                    <p class="foo_mobile_p">О нас</p>
                    <p class="foo_mobile_p">Контакты</p>
                </div>
            </div>
            <div class="">

                <div class="foo_mobile flex jus-sp" id="mobs">
                    <p class="foo_p">Компания</p>
                    <div class="foo_mobile_butt" onclick="active_footer_mob($(this))">

                        <span class="material-symbols-outlined">expand_more</span>
                    </div>
                </div>
                <div class="auto foo_mobile_contect" id="mob">
                    <p class="foo_mobile_p">О нас</p>
                    <p class="foo_mobile_p">Контакты</p>
                </div>
            </div>
            <div class="">

                <div class="foo_mobile flex jus-sp" id="mobs">
                    <p class="foo_p">Компания</p>
                    <div class="foo_mobile_butt" onclick="active_footer_mob($(this))">

                        <span class="material-symbols-outlined">expand_more</span>
                    </div>
                </div>
                <div class="auto foo_mobile_contect" id="mob">
                    <p class="foo_mobile_p">О нас</p>
                    <p class="foo_mobile_p">Контакты</p>
                </div>
            </div>

        </div>
    </footer>
    <script type="text/javascript">
        if ($(document).height() <= $(window).height()) {
            $(".footer").addClass("fixed-bottom");
        }
        function active_footer_mob(th) {
            el = th.parent().parent().find('#mob')
            if (el.is(':visible')) {
                el.fadeOut(500)
            } else {
                el.fadeIn(500)
            }
        }
    </script>
</body>

</html>