<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/interact.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/search.css">
    <link rel="stylesheet" href="css/headers.css">
    <link rel="stylesheet" href="css/tovar.css">
    
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
    <div class="menu" style="background: linear-gradient(45deg, yellow, orange);">
        <div class="absolute w-sto h_sto g">

        </div>
        <div class="interactiv h_sto">
            <div class="w-sto name_org flex" id="mob_mob_block">
                <p class="auto">Уварово пасечник</p>
            </div>
            
            <div class="menu_ h_sto">
                <div class="logo relative">
                    <div class="logo-page flex absolute">
                        <img src="images/logo.png" class="logo_img auto" alt="">
                    </div>


                </div>
                <div class="context_menu context_menu_info">
                    <div class="menu_items mob_men relative" id="mob_hed">
                        <span></span>
                    </div>
                    <div class="menu_items" id="deks_hed">
                        <p class="menu_items_text">Главная</p>
                    </div>
                    <div class="menu_items flex relative" id="deks_hed">
                        <p class="menu_items_text">Товары</p>
                        <span class="material-symbols-outlined">
                            expand_more
                        </span>

                    </div>
                    <div class="menu_items no_b_border">
                        <div class="container relative">
                            <input class="input" type="text" placeholder="Search">
                            <div class="zone_search absolute">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="context_menu user_context">
                    <div class="flex jus-sp user_in relative">
                        <img class="user_img" src="images/2.png" alt="">
                        <div class="flex w-sto h-sto from_name">
                            <p class="menu_items_text user_name auto">Gagtain</p>
                        </div>
                        <div class="context_menu_ absolute">
                            <ul>
                                <li class="flex">
                                    <p class="normal-small auto">Аккаунт</p>
                                </li>
                                <li class="flex">
                                    <p class="normal-small auto">Корзина</p>
                                </li>
                                <li class="flex">
                                    <p class="normal-small auto">Избранное</p>
                                </li>
                            </ul>
                        </div>
                        <span class="material-symbols-outlined auto">
                            expand_more
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="absolute menu_pop_mob">
    <div class="h_sto w-sto sote">
        <div class="logo-sote w-sto auto">
                    <div class="logo-page flex auto">
                        <img src="images/logo.png" class="logo_img auto" alt="">
                    </div>

                    
                </div>
                <p class="VAG menu_mob_p_org_name small">Уварово пасечник</p>
                <ul>
                        <li>Главная</li>
                        <li>О нас</li>
                        <li>Заказы</li>
                        <li>Политика соглашения</li>
                        <li>Пополнить счет</li>
                    </ul>
    </div>
</div>
<div class="absolute menu_pop_mob_zatem">
    
</div>
    <div class="sot-ob">
        <div class="wrapper flex w-sto">

            <div class="tovar_in flex interactiv jus-sp auto">
                <div class="ob flex jus-sp">

                    <div class="images_tovar flex">
                        <div class="min">
                            <ul>
                                <li>
                                    <img width="100%" class="tovar_img_the_min" src="images/2.png" alt="">
                                </li>
                                <li>
                                    <img width="100%" class="tovar_img_the_min" src="images/2.png" alt="">
                                </li>
                                <li>
                                    <img width="100%" class="tovar_img_the_min" src="images/2.png" alt="">
                                </li>
                            </ul>
                        </div>
                        <div class="max">
                            <img class="tovar_img_the_max" src="images/2.png" alt="">
                        </div>
                    </div>
                    <div class="tovar_infa">
                        <div class="tovar_name">
                            <p class="black bolshoi auto">Мед</p>
                        </div>
                        <div class="tovar_two">
                            <p class="black nebolsh">Категории: Лечебный, Белый</p>
                        </div>
                        <div class="tovar_two">
                            <p class="normal-small kolvo">количество</p>
                                                    <input type="number" value="1" max="22" class="size_tovar" name=""
                                                        id="">
                        </div>
                        <div class="tovar_two">
                            <p class="black malenkii">Цвет: класс</p>
                        </div>
                        <div class="tovar_two but">
                            <select class="select_raz black" id="">
                                <option value="" selected>100 г</option>
                            </select>
                        </div>
                        <div class="flex tovar_two jus-sp but">
                            <button type="button" class="button_zakaz" name="button">
                                <p class="auto nebolsh">В корзину</p>
                            </button>
                            <button type="button" class="button_zakaz button_feat" name="button">
                                <div class="feat_p flex auto jus-sp-ar">
                                    <img src="img/Vector (8).png" alt="" class="inline-block">
                                    <p class="inline-block nebolsh feat">В избранное</p>

                                </div>
                            </button>
                        </div>
                        <div class="tovar_two">
                            <p class="black malenkii">Подробности</p>
                        </div>
                        <div class="tovar_two vib">
                            <div class="flex jus-sp op_contex" onclick="open_contex($(this))">
                                <p class="black malenkii vib_">Описание</p>
                                <div class="contex" style="background-image: url('img/Vector (6).png');"></div>

                            </div>
                            <div class="context_text">
                                <p class="malenkii black">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    Aspernatur,
                                    consectetur eius! Optio quas accusantium quis excepturi aut dicta totam cum atque
                                    dolor
                                    culpa aliquid vitae, ratione veritatis consequuntur maiores beatae.</p>

                            </div>
                        </div>
                        <div class="tovar_two vib">
                            <div class="flex jus-sp op_contex" onclick="open_contex($(this))">
                                <p class="black malenkii vib_">Состав</p>
                                <div class="contex" style="background-image: url('img/Vector (6).png');"></div>

                            </div>
                            <div class="context_text">
                                <p class="malenkii black">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Tempora
                                    natus
                                    rem temporibus deserunt repudiandae iure officia cumque eum omnis sapiente illum
                                    voluptates,
                                    amet ex optio consectetur sed dolore sit eaque.</p>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="flex footer" id="deks">
        <div class="interactiv flex jus-sp auto">
            <div class="foo">
                <p class="foo_p">Компания</p>
                <p class="foo_p_li foo_p_li_perv">О нас</p>
                <p class="foo_p_li">Контакты</p>
            </div>
            <div class="foo">
                <p class="foo_p">ПОЛЕЗНОЕ</p>
                <p class="foo_p_li foo_p_li_perv">Оплата и доставка</p>
                <p class="foo_p_li">Условия возврата</p>
                <p class="foo_p_li">Бонусная система</p>
            </div>
            <div class="foo">
                <p class="foo_p">ПОКУПАТЕЛЮ</p>
                <p class="foo_p_li foo_p_li_perv">Избранное</p>
                <p class="foo_p_li">Публичная оферта</p>
                <p class="foo_p_li">Политика конфиденциальности</p>
            </div>
            <div class="foo">
                <p class="foo_p">КОНТАКТЫ</p>
                <div class="foo_img">
                    <span class="material-symbols-outlined">
                        expand_more
                    </span>

                    <span class="material-symbols-outlined">
                        expand_more
                    </span>
                </div>
                <p class="foo_p_li">О нас</p>
                <p class="foo_p_li">Контакты</p>
            </div>
        </div>
    </footer>
    <footer id="mobs" class="footer">
        <div class="interactiv auto">
            <div class="">

                <div class="foo_mobile flex jus-sp" id="mobs">
                    <p class="foo_p">Компания</p>
                    <div class="foo_mobile_butt" onclick="active_footer_mob($(this))">
                        <span class="material-symbols-outlined">expand_more</span>
                    </div>
                </div>
                <div class="auto foo_mobile_contect" id="mob">
                    <p class="foo_mobile_p">О нас</p>
                    <p class="foo_mobile_p">Контакты</p>
                </div>
            </div>
            <div class="">

                <div class="foo_mobile flex jus-sp" id="mobs">
                    <p class="foo_p">Компания</p>
                    <div class="foo_mobile_butt" onclick="active_footer_mob($(this))">

                        <span class="material-symbols-outlined">expand_more</span>
                    </div>
                </div>
                <div class="auto foo_mobile_contect" id="mob">
                    <p class="foo_mobile_p">О нас</p>
                    <p class="foo_mobile_p">Контакты</p>
                </div>
            </div>
            <div class="">

                <div class="foo_mobile flex jus-sp" id="mobs">
                    <p class="foo_p">Компания</p>
                    <div class="foo_mobile_butt" onclick="active_footer_mob($(this))">

                        <span class="material-symbols-outlined">expand_more</span>
                    </div>
                </div>
                <div class="auto foo_mobile_contect" id="mob">
                    <p class="foo_mobile_p">О нас</p>
                    <p class="foo_mobile_p">Контакты</p>
                </div>
            </div>
            <div class="">

                <div class="foo_mobile flex jus-sp" id="mobs">
                    <p class="foo_p">Компания</p>
                    <div class="foo_mobile_butt" onclick="active_footer_mob($(this))">

                        <span class="material-symbols-outlined">expand_more</span>
                    </div>
                </div>
                <div class="auto foo_mobile_contect" id="mob">
                    <p class="foo_mobile_p">О нас</p>
                    <p class="foo_mobile_p">Контакты</p>
                </div>
            </div>

        </div>
    </footer>
    <script type="text/javascript">
        if ($(document).height() <= $(window).height()) {
            $(".footer").addClass("fixed-bottom");
        }
        function active_footer_mob(th) {
            el = th.parent().parent().find('#mob')
            if (el.is(':visible')) {
                el.fadeOut(500)
            } else {
                el.fadeIn(500)
            }
        }
        function edit_block_get() {
            $('.edit_block').css({ "filter": "blur(0px)" })
            $('.s').css({ "display": "none" })
        }
        function open_contex(th) {
            el = th.parent().find('.context_text')
            if (el.is(':visible')) {
                el.fadeOut(500)
            } else {
                el.fadeIn(500)
            }
        }
    </script>

    <script src="js/scroll.js"></script>
</body>

</html>