.card-img {
	max-width: 100%;
	filter: drop-shadow(1px 1px 3px green);
}
.product {
	display: grid;
	grid-template-columns: 0.9fr 1fr;
	margin: auto;
	padding: 2.5em 0;
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 5px;
}
.product__photo {
	position: relative;
}
.photo-container {
	position: absolute;
	left: -2.5em;
	display: grid;
	grid-template-rows: 1fr;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}
.photo-main {
	border-radius: 6px 6px 0 0;
	background-color: #9be010;
	background: radial-gradient(#e5f89e, #96e001);
}
.photo-album {
	height: 85px;
	padding: 0.7em 1em;
	border-radius: 0 0 6px 6px;
	background-color: #fff;
}
.product__info {
	padding: 0.8em 0;
}
.product__price {
	font-family: 'Roboto';
	color: rgb(245, 115, 40);
}
.product__code {
	font-family: 'Roboto';
	line-height: 1.2;
}
.description {
	clear: left;
	margin: 2em 0;
}
.product__name {
	font-family: 'VAG';
	font-weight: 400;
	line-height: 1.2;
}
.btn {
	display: inline-block;
	margin-top: 6%;
	padding: 1.5em 3.1em;
	border: none;
	border-radius: 50px;
	font-size: 0.8em;
	font-weight: 700;
	letter-spacing: 1.3px;
	color: #000;
	background-color: rgb(245, 173, 40);
	box-shadow: 2px 2px 25px -7px black;
	cursor: pointer;
	&:active {
		background-color: rgb(245, 173, 40);
		scale: 0.96;
		color: #000;
	}
	&:hover {
		background-color: rgb(255, 188, 65);
	}
}
.variant-ul {
	list-style: none;
	padding: 0;
	width: 100%;
}
.photo-album-li {
	text-align: center;
	float: left;
	padding: 3px;
	width: 90px;
	height: 45px;
	border-radius: 3px;
	cursor: pointer;
	&:not(:first-child) {
		margin-left: 1%;
	}
	&:hover {
		box-shadow: 0px 0px 2px 1px black;
	}
}
.product__text {
	margin-top: 3%;
}
.add-img-tovar {
	cursor: pointer;
	&:hover {
		box-shadow: 0px 0px 2px 1px black;
	}
}
@media (max-width: 1100px){
	.photo-main{
	  height: 400px;
	}
	.product{
	  display: block;
	  padding-top: 2%;
	}
	.product__photo{
		height: 485px;
	}
	.slider-product .swiper-wrapper .swiper-slide{
		height: 1000px;
	}
	.photo-container{
		left: -5%;
		width: 110%;
	}
	.product__info{
		text-align: center;
	}
	.product__price{
		font-size: 42px;
	}
	.photo-album{
		display: none;
	}
  }
@media (max-width: 700px){
	.photo-container{
		display: block;
		position: static;
		width: 100%;
	}
	.product__photo{
		height: auto;
	}
	.photo-main{
		height: 220px;
	}
	.slider-product .swiper-wrapper .swiper-slide{
		height: 700px;
	}
}