
{% extends  'basic/basic.html' %}
{% load static %}

{% block styles %}

    <link rel="stylesheet" href="{% static 'online_store/css/login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block content %}
<div class="sot-ob">
        <div class="wrapper flex">
            <div class="login-page flex">
                <div class="form login-f log-img">

                </div>
                <div class="form">
                    <p class="small login-p">Создать аккаунт</p>
                    <div class="flex h_sto">

                    <form class="register-form auto" method="POST">
                        {% csrf_token %}
                        {% for field in form %}

                            {% if field.errors%}
                            <div class="error">{{field.errors}}</div>
                            {% endif %}
                        <input type="text" placeholder="{{field.label}}" name="{{field.name}}"/>
                            {% endfor %}
                        <button type="submit">create</button>
                        <p class="message">Already registered? <a href="#">Sign In</a></p>
                    </form>

                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}