
.filter-p {
    font-family: 'Roboto';
}
.filter-li {
    list-style: none;
    border: 1px solid #000;
    margin-top: 4%;
    padding: 4%;
    cursor: pointer;
    background-color: rgb(255, 188, 65);
}

.filter-li:hover {
    background-color: rgba(255, 196, 86, 0.795);
}

.filter-ul {
    padding-left: 10%;

}
.active{
    background-color: rgb(160, 166, 62);

}