@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


.wrapper-product {
    padding-top: 200px;
    min-height: 102vh;
    background: url('../../images/sot.png') repeat-y;

    background-size: cover;
    padding-bottom: 3%;
}

.filter_div {
    position: relative;
    width: 15%;
    padding-top: 3%;
}

.sot-ob {
    background: rgb(241, 195, 96);
}

.filter-product {
    height: auto;
    padding: 10%;
    box-shadow: 0px 0px 10px 2px #000;
    background-color: #fff;
    border-radius: 5px;
}

.product_div {
    background-color: rgb(160, 166, 62);
    padding: 2%;
    border-radius: 5px;  
    height: 100%;
}
.product{
    width: 350px;
    margin: 0;
    margin-top: 1%;
    display: block;
    text-align: center;
    padding: 1%;
}
@media (min-width: 1026px) {
    .product{
        width: 30%;
        margin-left: 1%;
    }
}
.add-img-tovar{
    width: 20%;
}
.photo-container{
    height: auto;
    position: static;
    width: 100%;
}
.product__photo{
    height: auto;
}
.photo-main{
    height: 250px;
}
.filter-p {
    font-family: 'Roboto';
}

.product_osnov {
    width: 85%;
}
.product__text p{
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
    height: 58px;
}
.sorted-product {
    width: 40%;
}
.sorted_div {
    width: 100%;
    padding-left: 2%;
}

.sorted-p {
    font-family: 'Roboto';
    color: #000;
}
.act_sorted-p{
    color: antiquewhite;

}

.product-list {
    padding-left: 2%;
    flex-wrap: wrap;
}

.product_card {
    padding: 1%;
    margin-top: 3%;
    background-color: #fff;
    box-shadow: 0px 0px 10px 2px #000;
    height: 450px;
    width: 332px;
}

.product-card-img {
    width: 100%;
    height: 50%;
}

.product-card-img-in_div {
    width: 100%;
    height: 100%;
}

.variant-ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.photo-album-li:not(:first-child) {
    margin-left: 1%;
}

.photo-album-li {
    text-align: center;
    float: left;
    padding: 3px;
    width: 90px;
    height: auto;
    border-radius: 3px;
    cursor: pointer;
}

.photo-album-li.active {
    box-shadow: 0px 0px 2px 1px black;

}

.btn {
    display: inline-block;
    padding: 1.5em 3.1em;
    border: none;
    border-radius: 50px;
    font-size: 0.8em;
    font-weight: 700;
    color: #000;
    background-color: rgb(245, 173, 40);
    box-shadow: 2px 2px 25px -7px black;
    height: 53px;
    cursor: pointer;
}

.btn:active {
    background-color: rgb(245, 173, 40);
    scale: 0.96;
    color: #000;
}

.btn:hover {
    background-color: rgb(255, 188, 65);

}
.open_filter_mob{
    cursor: pointer;
}
.fav-btn{
    border-radius: 50px;
    background-color: rgb(245, 173, 40);
}
.fav-btn img{
    height: 25px;
    width: 25px;
}


.mob_filter {
    width: 25%;
    display: none;
}

.mob_filter_context {
    left: 0;
    top: 30px;
    width: 160px;
    height: 0px;
    overflow: hidden;
    transition: .5s;
    border-radius: 5px;
    background-color: green;

}

.mob_filter_context_active {
    padding: 1%;
    height: 200px;
    transition: .5s;
}
.btn-green{
    background: #4CAF50;
}
.btn-green:active, .btn-green:hover{
	background: #43A047;

}

@media (max-width: 1024px) {
    .product{
        width: 45%;
margin-left: 2%;
    }

    .filter_div {
        width: 30%;
    }

    .product_osnov {
        width: 70%;
    }

}

@media (max-width: 1100px) {
    .sorted-product {
        width: 70%;
    }
}

@media (max-width: 950px) {
    .filter_div {
        display: none;

    }

    .product_osnov {
        width: 100%;
    }

    .product_card {
        width: 250px;
    }

    .mob_filter {
        display: block;
    }
}

@media (max-width: 700px) {
    .sorted-p {
        font-size: 18px;
    }

    .product {
        width: 48%;

    }

    .photo-album-li .h_sto img {
        display: none;
    }

    .photo-album-li {
        height: auto;
    }

    .photo-container {
        height: 120px;
        width: 120px;
        margin: auto;
    }
    .photo-main{
        height: 100%;
    }
    .product__text .small{
        font-size: 18px;
    }
    .product__price{
        font-size: 22px;
    }
    .product__name{
        font-size: 20px;
    }
}
@media (max-width: 375px){
    .product{
        width: 100%;
    }
}