@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
    scroll-behavior: smooth;
  }
.flex{
    display: flex;
}
:root {
    --default-padding-btn: 5px 15px;
  }
  
* {
    font-family: 'Roboto';
    font-display: swap;
}
.auto{
    margin: auto;
}
.fixed{
    position: fixed;
}
.green{
    color: green;
}
.yellow{
    color: #ffd84d;
}
.big{
    font-size: 84px;
}
.small-big{
    font-size: 32px;
}
.small{
    font-size: 24px;
}
.very-small{
    font-size: 12px;
}
.normal-small{
    font-size: 16px;
}
.w-sto{
    width: 100%;
}
.interactiv{
    width: 1400px;
    margin: 0 auto;
}
.block{
    display: block;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.h_sto{
    height: 100%;
}

.jus-sp{
    justify-content: space-between;
}
.jus-sp-ar{
    justify-content: space-around;
}

@font-face {
    font-family: 'VAG';
    src: 
    url('../fonts/1/fonts/vag_world_bold.woff') format('woff');
    font-display: swap;

}
.VAG{
    font-family: 'VAG';
}
.m2{
    margin-top: 2%;
}
.w-50{
    width: 50%;
}
.m-2{
    margin-top: 2%;
}
@media (max-width: 1400px)  {
    .interactiv {
        width: 100%;
    }
  }